<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="app">
      <header>
        <h1>Todo App</h1>
      </header>
      <div class="addwrapper">
        <input
          v-model="inputFieldText"
          placeholder="get sh*t done!"
          type="text"
        />
        <button @click="addTodo">Add</button>
      </div>
      <h2>Filter & Options</h2>

      <input
        @click="filterMode = 'all'"
        type="radio"
        name="filter"
        id="all"
      /><label for="all">All</label>
      <input
        @click="filterMode = 'done'"
        type="radio"
        name="filter"
        id="done"
      /><label for="done">Done</label>
      <input
        @click="filterMode = 'open'"
        type="radio"
        name="filter"
        id="open"
      /><label for="open">Open</label>

      <button @click="removeDoneTodos">Remove Done Todos</button>
      <h2>Your Todos</h2>
      <ul>
        <li v-for="todo of filteredTodoList">
          <input type="checkbox" v-model="todo.done" /> {{todo.text}}
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
